body {
  font-family: Helvetica;
  text-align: center;
  color: gray;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  color: white;
  font-size: 18px;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
  background-position: center;
  background-size: cover;
}

.design {
  background-image: url(../images/the-flatiron-building.png);
  background-position: center;
  background-size: cover;
}

.icons h2 {
  font-size: 32px;
  font-weight: bold;
  color: gray;
}

.icons, .newyork p {
  font-size: 14px;
}

.design h3 {
  color: white;
}

.footer {
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
  color: white;
}
